<h1>Hello</h1>
<p>Voce esta em ambinete de <strong><%=Rails.env %></strong></p>
<p>Voce esta em ambinete de <strong><%= ambiente %></strong></p>
<p>Sou  uma variavel de sessao:<%= @nome %></p>
<h3><%= render 'hello/menu_html' %></h3>







